<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Accounts</li>
	</ul>
	<table class="table">
		<tr>
			<th>Account ID</th>			
			<th>Avail. Balance</th>
			<th>Close Date</th>
			<th>Last Activity Date</th>			
			<th>Open Date</th>
			<th>Pending Balance</th>	
			<th>Status</th>							
			<th>Actions</th>
			
		</tr>
		<tr *ngFor=" let account of accounts ">
			<td>{{account.accountId}}</td>
			<td>{{account.availBalance}}</td>
			<td>{{account.closeDate}}</td>
			<td>{{account.lastActivityDate}}</td>
			<td>{{account.openDate}}</td>
			<td>{{account.pendingBalance}}</td>
			<td>{{account.status}}</td>
			<td><button type="button" class="btn btn-primary">Details</button> | <button type="button" class="btn btn-primary">Delete</button></td>
		</tr>
	</table>
	<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>

