<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Products</li>
	</ul>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Date Offered</th>
			<th>Date Retired</th>								
			<th>Actions</th>
		</tr>
		<tr *ngFor=" let product of products ">
			<td>{{product.productCd}}</td>			  
			<td>{{product.name}}</td>
			<td>{{product.dateOffered}}</td>
			<td>{{product.dateRetired}}</td>		
			<td><button type="button" class="btn btn-primary">Details</button> | <button type="button" class="btn btn-primary">Delete</button></td>
		</tr>
	</table>
	<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>

