<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Individuals</li>
	</ul>
	<table class="table">
		<tr>		
			<th>First name</th>					
			<th>Last name</th>						
			<th>Birth Date</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor=" let individual of individuals ">					  
			<td>{{individual.firstName}}</td>
			<td>{{individual.lastName}}</td>		
			<td>{{individual.birthDate}}</td>					
			<td><button type="button" class="btn btn-primary">Details</button> | <button type="button" class="btn btn-primary">Delete</button></td>
		</tr>
	</table>
	<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>