<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Businesses</li>
	</ul>
	<table class="table">
		<tr>
			<th>Incorporation Date</th>
			<th>Name</th>							
			<th>Actions</th>
		</tr>
		<tr *ngFor=" let business of businesses ">
			<td>{{business.incorpDate}}</td>			  
			<td>{{business.name}}</td>
			<td><button type="button" class="btn btn-primary">Details</button> | <button type="button" class="btn btn-primary">Delete</button></td>
		</tr>
	</table>
	<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>

