<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Accounts Transactions</li>
	</ul>
	<table class="table">
		<tr>
			<th>Transaction ID</th>
			<th>Amount</th>
			<th>Funds Available Date</th>
			<th>Transaction Date</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor=" let acctransaction of acctransactions ">
			<td>{{acctransaction.txnId}}</td>
			<td>{{acctransaction.amount}}</td>
			<td>{{acctransaction.fundsAvailDate}}</td>
			<td>{{acctransaction.txnDate}}</td>
			<td><button type="button" class="btn btn-primary">Details</button> | <button type="button" class="btn btn-primary">Delete</button></td>
		</tr>
	</table>
	<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>

