<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Departments</li>
	</ul>
	<a href="/add-department">Add Department</a>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Name</th>					
			<th>Actions</th>
		</tr>
		<tr *ngFor=" let department of departments ">
			<td>{{department.deptId}}</td>			  
			<td>{{department.name}}</td>
			<td><button type="button" class="btn btn-primary" (click)="redirectEdit(department.deptId)">Edit</button> | <button type="button" class="btn btn-primary">Delete</button></td>
		</tr>
	</table>
	<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>