<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Employees</li>
	</ul>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>First name</th>					
			<th>Last name</th>			
			<th>Start Date</th>					
			<th>End Date</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor=" let employee of employees ">
			<td>{{employee.title}}</td>			  
			<td>{{employee.firstName}}</td>
			<td>{{employee.lastName}}</td>		
			<td>{{employee.startDate}}</td>			
			<td>{{employee.endDate}}</td>			
			<td><button type="button" class="btn btn-primary">Details</button> | <button type="button" class="btn btn-primary">Delete</button></td>
		</tr>
	</table>
	<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>