<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="accounts">Accounts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="acctransactions">Acc. Transactions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="branches">Branches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="producttypes">Product types</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="businesses">Businesses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="employees">Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="individuals">Individuals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="customers">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="departments">Departments</a>
    </li>
  </ul>
</nav>
</div>


<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<router-outlet></router-outlet>
