<div class="container">
<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label>Name</label>
                <input 
                    type="text" 
                    class="form-control"
                    [(ngModel)]="department.name"
                    name="name"
                    #departmentName="ngModel"
                    minlength="2"
                    required
                >
                <div *ngIf="departmentName.errors?.required && departmentName.touched" class="alert alert-danger">Name is required</div>
                <div *ngIf="departmentName.errors?.minlength && departmentName.touched" class="alert alert-danger">Name should be at least 2 characters</div>
            </div>
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
</div>