<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Branches</li>
	</ul>
	<table class="table">
		<tr>
			<th>Branch ID</th>
			<th>Address</th>
			<th>City</th>
			<th>Name</th>			
			<th>State</th>
			<th>Zip Code</th>						
			<th>Actions</th>
		</tr>
		<tr *ngFor=" let branch of branches ">
			<td>{{branch.branchId}}</td>
			<td>{{branch.address}}</td>
			<td>{{branch.city}}</td>
			<td>{{branch.name}}</td>
			<td>{{branch.state}}</td>
			<td>{{branch.zipCode}}</td>
			<td><button type="button" class="btn btn-primary">Details</button> | <button type="button" class="btn btn-primary">Delete</button></td>
		</tr>
	</table>
	<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>

