<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Customers</li>
	</ul>
	<table class="table">
		<tr>
			<th>Customer Id</th>
			<th>Address</th>
			<th>City</th>
			<th>Postal Code</th>	
			<th>State</th>							
			<th>Actions</th>
		</tr>
		<tr *ngFor=" let customer of customers ">
			<td>{{customer.custId}}</td>			  
			<td>{{customer.address}}</td>
			<td>{{customer.city}}</td>
			<td>{{customer.postalCode}}</td>
			<td>{{customer.state}}</td>			
			<td><button type="button" class="btn btn-primary">Details</button> | <button type="button" class="btn btn-primary">Delete</button></td>
		</tr>
	</table>
	<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>

